*, html{
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

main{
    height: 100%;
    background-color: #4ABDAC;
}

.dropdown-toggle{
    font-weight: bolder;
    padding-left: 3rem;
    
}

/* .carousel{
   background: url('../images/carousel-bayan.jpg') no-repeat;
   background-size: cover;
} */

.bg-style{
    border-radius: 20px;
}

.content-img{
    border-radius: 20px;
    width: 300px;
    height: 400px;
}
.content-img2{
    border-radius: 20px;
    width: 300px;
    height: 400px;
}
.content-img3{
    border-radius: 20px;
    width: 320px;
    height: 400px;
}


.nav-item.active a{
    border-bottom: 2px solid #1C6758!important;

}



